@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: aquamarine;
}
form div {
  margin-bottom: 20px;
}

form input[type="radio"] {
  margin-right: 10px;
}

form input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0d5fd2;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(40, 169, 4);
  transition: background-color 0.2s ease-in-out;
}

.btn-reset:hover {
  background-color: rgb(160, 14, 14);
  transition: background-color 0.2s ease-in-out;
}

.btn-reset {
  background-color: #967878;
}

aside {
  flex: 1;
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hasil-bmi {
  position: relative;
  background-color: aquamarine;
  width: 100%;
  height: 350px;
}
h4 {
  margin: 5px;
  padding: 9px;
}
h5 {
  margin-top: 8px;
}

.btn-dwnld {
  padding: 10px 20px;
  bottom: 0;
  left: 50%;
  margin-bottom: 15px;
  transform: translate(-50%);
  border: none;
  border-radius: 5px;
  background-color: #0d5fd2;
  color: #fff;
  cursor: pointer;
  position: absolute;
}
.btn-konsul {
  position: relative;
  top: 25px;
  left: 63px;
}

.container {
  width: 100%;
  height: 245px;
  background-color: aquamarine;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-akhir {
  display: flex;
  flex-direction: column;

  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  list-style: none;
}
